/*nav*/

.home_bg {
	background: url(../img/home.png) no-repeat;
	background-size: 100% 100%;
}

.static_bg {
	background: url(../img/static.png) no-repeat;
	background-size: 100% 100%;
}

.info_bg {
	background: url(../img/info.png) no-repeat;
	background-size: 100% 100%;
}

.set_bg {
	background: url(../img/setting.png) no-repeat;
	background-size: 100% 100%;
}

.nav .active {
	color: #FF5242;
}

.active .home_bg {
	background: url(../img/home_on.png) no-repeat;
	background-size: 100% 100%;
}

.active .static_bg {
	background: url(../img/static_on.png) no-repeat;
	background-size: 100% 100%;
}

.active .info_bg {
	background: url(../img/info_on.png) no-repeat;
	background-size: 100% 100%;
}

.active .set_bg {
	background: url(../img/setting_on.png) no-repeat;
	background-size: 100% 100%;
}

.nav {
	position: relative;
	height: 50px;
	background: #fff;
	border-top: 1px solid #DADADA;
	width: 100%;
	position: fixed;
	bottom: 0;
}

.nav div {
	font-size: 12px;
	margin-top: 28px;
	color: #888;
	text-align: center;
	float: left;
	width: 25%;
}

.nav div span:nth-child(1) {
	margin-left: 10px;
	top: 7px;
	position: absolute;
	height: 21px;
	width: 24px;
}

.info_num {
	border: 1px solid #fff;
	font-size: 10px !important;
	color: #fff !important;
	padding: 0px 3px;	
	height: 16px;
	line-height: 16px;
	font-size: 10px;
	background: #FF5242;
	position: absolute;
	top: 0px;
	left: 38%;
	border-radius: 40%;
}


/*nav end*/